Package: com.ossey.ioswechat
Name: ioswechat
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: swae
Author: swae
Section: Tweaks
Version: 0.0.1-5+debug
Installed-Size: 1240
